*{
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar section start */
.navbar-collapse ul li a:hover{
    color: #ff624b;
}
.navbar-brand{
    font-size: 28px;
}

.logoimg , .cartimg , .userimg{
    width: 30px;
    height: 30px; 
}
/* navbar section end */
/* slider Section start */
#Slider{
    background-color: #f7eff7;
    height: 500px;
}
.sliderhead {
    color: #ffada5;
    padding: 15px;
    border-radius: 10px

}
.sliderpara{
    color: #0b043e;
    font-weight: bold;
    font-size: 55px;
    
}
.search-item{
    background-color: white;
    width: 430px;
    line-height: 40px;
    border-radius: 8px;
}
#search-form{
    width: 120px;
    height: 40px;
    border: none;
    padding: 4px;
}
.search-input{
    width: 210px;
    line-height: 50px;
    border: none;
}
.search-btn {
    width: 90px;
    height: 43px;
    padding: 1px;
    border: none;
    background-color: #aa49f0;
    color: #fff;
    border-radius: 10px;
    margin-right: 2px;
}
.search-btn > i {
    width: 15px;
    height: 15px;
    
}
.sliderimg{
    width: 567px;
    height: 500px;
    background-color: #f7eff7;
}
/* slider section end */

/* coourse section start */
#course{
    background-color: #f7eff7;
    padding: 80px auto;
    
}
.coursehead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.coursepara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}
.coursebtn{
   padding: 15px 25px;
    border: none;
    background-color: #aa49f0;
    color: #fff;
    padding-left: 19px;
    padding-top: 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;

}   
/* coourse section end */

/* image-section start */
#teachimg{
    background-color: #f7eff7;
   padding: 45px 0px 45px 0px;
}
.teacherimg{
    width: 630px;
    border-radius: 10px;
}
.box{
  width: 645px; 
  padding: 20px;
  border-radius: 10px;  
}

.box1, .box2,.box3{
    width: 210px !important;
    border-radius: 10px;
   
}


/* image-section end */

/* card section start */
#cards{
    background-color: #f7eff7;
}
.cardhead{
    font-size: 50px;
    font-weight: bold;
   
}
.cardpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;  
}
.cardbtn{
    padding: 10px 20px;
   border: none;
   font-weight: 600;
   font-size: 14px;
   border-radius: 10px; 
}
.cardbtn:hover{
    background-color: #ff5843;
    color: #ffff;
}
.num{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}
.num1{
    background-color: orange; 
   
}
.crd1head{
    font-size: 25px;
    font-weight: bold;
    
}
.crd1para{
    font-size: 15px;
    text-align: center;
    color: #a7a2a8;
}
.crd1btn{
   padding: 10px 20px;
   font-weight: 600;
   font-size: 14px;
   border-radius: 10px; 
 border: 1px solid #aa49f0;
  color: #aa49f0;
}
.crd1btn:hover{
    background-color: #aa49f0;
    color: #fff;
}
.num2{
    background-color: rgba(39, 35, 35, 0.734);
   
}
.num3{
    background-color: #00E9ca;
    
}

.num4{
    background-color: #404141;  
}
.num5{
    background-color: #00E9ca;
    
}
.num6{
    background-color: orange;
   
}
.num7{
    background-color: red;
  
}
.num8{
    background-color: rgb(237, 113, 18);
   
}

.curbtn{
   
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 10px; 
      border: 1px solid #aa49f0;
       color: #aa49f0;   
}
.curbtn:hover{
    background-color: #aa49f0;
    color: #fff;
}

/* card section end */
/* Skill Section Start */
#skill{
    background-color: #f7eff7;
    
}
.regbox{
   
    margin-top: 60px;
}
.skillbox{
    color: #aa49f0;
    padding: 15px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: rgb(227, 227, 255);
}
.skillhead{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}
.skillpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    padding-top: 15px;
    margin-left: 40px;
    color: rgb(144, 144, 144);
   
}
.regbtn{
   padding: 10px 20px;
    border: none;
    background-color: #aa49f0;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
     margin-left: 40px;
   
    

}

.skillimg{
    width: 567px;
    height: 425px;
    color: rgb(144, 144, 144);
}

/* Skill Section end */

/* career section start */
#career{
    padding: 80px auto;
    background-color: #f7eff7;
    
}
.careerimg{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 50%;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(#ff624b, rgb(246, 221, 215));
   
}
.careerhead{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.careerpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    padding-top: 15px;
    color: rgb(144, 144, 144);
}
.careerbtn{
    width: 150px;
    height: 55px;
    border: none;
    background-color: #aa49f0;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  
}
/* career section end */

/*Subscribe Section Start  */
#subscribe{
   
    background-color: #f7eff7;
}
.img1{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(248, 82, 82) ;
    position: absolute;
    top:30px;
    left: 50px;
}
.img2{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(102, 35, 190);
    position: absolute; 
    top: 120px;
    left: 160px;
}
.img3{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(28, 238, 168);
    position: absolute; 
    top: 200px;
    left: 50px;
}
.img4{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(248, 82, 82);
    position: absolute;
    top:30px;
    right: 50px;
}
.img5{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(102, 35, 190);
    position: absolute; 
    top: 120px;
    right: 160px;
}
.img6{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgb(28, 238, 168);
    position: absolute; 
    top: 200px;
    right: 50px;
}
.subhead{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding-top:50px
}
.subpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(144, 144, 144);
    padding-left: 150px;
}
.emailinput {
    width: 45%;
    padding: 15px 10px;
    border: none;
   margin-left: 150px;
   margin-top: 20px;
   background-color: #3d375c;
   color: white;
   border-radius: 5px;
  }
  .emailinput::placeholder{
    color: #ffff;
    opacity: 0.5;
  }
  .subbtn{
    padding: 15px 30px;
    border: none;
    background-color: #aa49f0;
    color: #f7eff7;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
    border-top-left-radius:3px ;
    border-bottom-left-radius:3px ;
    
  }

/*Subscribe Section end  */
/* footer section start */
#footer{
    background-color: #f7eff7;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.logoimg2{
    width:30px;
    height: 30px;  
}
.social-icons{
    margin-top: 9px;
    display: flex;
    gap: 10px;
 
}

.fa-brands{
    margin: 5px;
}
.fa-brands:hover {
    border-radius: 50%;
    color: #ff624b;
  }
.social-icons  a {
    text-decoration: none;
    
    color: #000;
    font-size: 25px;  
}
.copyright{
    padding-top: 10px;
    font-size: 15px;
    color: #a7a2a8;
}
.copypara{
    padding-top: 10px;
    font-size: 15px;
    color: #a7a2a8; 
}
.foothead{
    font-size:25px ;
    padding: 0px 10px;
    font-weight: bold;
    margin-left: 20px;
}
.list1  li  {
   list-style: none;
   
}
.list1 li a{
    text-decoration: none;
    color: #a7a2a8;
    line-height: 30px;
}
/* footer section end */
